h2 {
    text-align: center;
    color: #ffff;
}

html, body, #root {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh auto;
  background: none;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    width: 92.4%;
    padding: 10px;
    margin: 10px 0;
}

.login-page input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #01a897;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-page input[type="submit"]:hover {
    background-color: #017469;
}