#root {
    --background-color: #32009d;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    height: 100vh;
}

h2 {
    text-align: center;
    color: #ffff;
}

input[type="text"],
input[type="password"] {
    width: 92.4%;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #720137;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #55022a;
}