#dashboard-title {
    text-align: center;
    margin-bottom: 5px;
    color: azure;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack elements vertically */
    width: 300px;
    margin-top: 150px;
    height: 400px;
    padding: 20px; /* Extra space in the box */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: #000c17 2px solid;
    border-radius: 10px;
}