<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>
        
    </header>

    <main>
        <div class="container">
            <h2 style="display: inline-block; margin-bottom: 5px;">Dashboard</h2>
            <div class="inner-main-card">
                <h3 style="text-align: left;">Registered Devices</h3>
                <div id="device-display-area" style="display: flex; flex-direction: column; align-items: flex-start;"></div>
                <button class="toggle-button off" id="toggle-button">LED</button>
            </div>
        </div>

        <div class="bottom-container">
            <div class="upload" style="margin: 10px; text-align: center;">
                <a href="{{ url_for('upload_file') }}">Upload Firmware</a>
            </div>
            <div class="logout" style="margin: 10px; text-align: center;">
                <a href="/logout" style="text-align: center;">Logout</a>
            </div>
        </div>
    </main>

    <!-- 
    <footer>
        <div class="footer-content" style="text-align: center;">
            <p>&copy; 2024 Revint. All rights reserved.</p>
        </div>
    </footer>
    -->

    <template id="device-display-box-template">
        <div class="device-display"> <!-- This is the template for each device display box -->
            <div class="device-display-box">
                <div class="device-main-info" style="display: flex; justify-content: space-between;">
                    <span class="device-serial-name" style="font-size: 125%;">esp123</span>
                </div>
                <div class="device-display-sub-info">
                    <div style="display: flex; justify-content: space-between;">
                        <span class="device-model">Model: </span>
                        <span class="device-device-status">Status: </span> 
                    </div>
                    <div style="text-align: right;">
                        <span class="device-last-updated">Last updated: 12-2-2024</span>
                    </div>
                </div>
            </div>

            <div class="device-configuration-box">
                <div class="device-sensor-area"></div>
                <div class="device-control-area"></div> <!-- leave this section empty -->
            </div>
        </div>
    </template>

    <template id="device-uart-template">
        <div class="device-sensor-data">
            <div class="circle-container">
                <div class="circle">
                    <div class="progress" id="progress">0%</div>
                </div>
            </div>
        </div>
    </template>

    <template id = device-control-template>
        <div class="device-control-box">
            <div class="device-control-button">
                <button class="toggle-button off" id="toggle-button">LED</button>
            </div>
        </div>
    </template>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>