<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="container">
        <h2>Dashboard</h2>
        <div class="inner-main-card" style="width: 100%; color: snow; display: flex; text-align: center; display: flex; justify-content: center;">
            <div class="card" id="device-card">
                <h3>Connected ESP32s</h3>
            
                <div class="inner-device-card">
                    <div id="device-display-area"></div>
                </div>

                <h3>LED Control</h3>
                <button class="toggle-button off" id="toggle-button">LED</button>
            </div>

            <div class="card" id="sensor-card">
                <h3>Sensor Data</h3>
                <div class="circle-container">
                    <div class="circle">
                        <div class="progress" id="progress">0%</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="upload">
            <a href="{{ url_for('upload_file') }}">Upload Firmware</a>
        </div>
        <br>
        <a href="/logout" style="text-align: center;">Logout</a>
    </div>

    <template id="device-display-box-template">
        <div class="device-display-box" style="font: Ariel; gap: 50px;">
            <div class="device-main-info" style="display: flex; justify-content: space-between;">
                <span class="device-serial-name" style="font-size: 125%;">esp123</span>
            </div>
            <div class="device-display-sub-info">
                <div style="display: flex; justify-content: space-between;">
                    <span class="device-model">Model: </span>
                    <span class="device-device-status">Status: </span> 
                </div>
                <div style="text-align: right;">
                    <span class="device-last-updated">Last updated: 12-2-2024</span>
                </div>
            </div>
        </div>
    </template>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>